extends layout.pug


block content
  - var db_goods = goods;
  - var db_trophy = trophy;
  - var db_user_uuid = user_uuid;
  - var db_user_id = user_id; 
  
  title= title
  h1 User Page
  br
  br
  
  form(class="form-signin" method="POST" action="/user/search")
    h3 User Search

    .col-xs-3
      label(for='useruuid') User UUID
      .input-group
        input(type="text" name="useruuid" id="useruuid" class="form-control" value=db_user_uuid)
        span.input-group-btn
          button.btn.btn-primary(type="submit") Search

    br
    br
    br


  h3 User Data
  .col-xs-3
    .input-group
      label(for="gold") Gold
      input(type="text" name="gold" id="gold" class="form-control" value=db_goods.gold)
      p
      label(for="diamond") Diamond
      input(type="text" name="diamond" id="diamond" class="form-control" value=db_goods.diamond)
      p
      label(for="diamond_google") Diamond_google
      input(type="text" name="diamond_google" id="diamond_google" class="form-control" value=db_goods.diamond_google)
      p
      label(for="diamond_apple") Diamond_apple
      input(type="text" name="diamond_apple" id="diamond_apple" class="form-control" value=db_goods.diamond_apple)
      p
      label(for="total_highest_trophy") Total Highest Trophy
      input(type="text" name="total_highest_trophy" id="total_highest_trophy" class="form-control" value=db_trophy.total_highest_trophy)
      p
      label(for="trophy_reward_step") Trophy Reward Step
      input(type="text" name="trophy_reward_step" id="trophy_reward_step" class="form-control" value=db_trophy.trophy_reward_step)
    
    //- 폼 크기만큼 br (다른 방법은?)
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

  form(class="form-signin" method="POST" action="/user/addgoods")
    h3 Add Goods
    .col-xs-3
      .input-group
        label(for="add_gold") Add Gold
        input(type="number" name="add_gold" id="add_gold" class="form-control")
        p
        label(for="add_diamond") Add Diamond
        input(type="number" name="add_diamond" id="add_diamond" class="form-control")
        p
        label(for="add_diamond_google") Add Diamond_google
        input(type="number" name="add_diamond_google" id="add_diamond_google" class="form-control")
        p
        label(for="add_diamond_apple") Add Diamond_apple
        input(type="number" name="add_diamond_apple" id="add_diamond_apple" class="form-control")
        p
        input(type="hidden" name="add_user_id" id="add_user_id" class="form-control" value=db_user_id)
        input(type="hidden" name="add_user_uuid" id="add_user_uuid" class="form-control" value=db_user_uuid)
        
        // goods 종류가 아님
        //- p
        //- label(for="add_total_highest_trophy") Add Total Highest Trophy
        //- input(type="text" name="add_total_highest_trophy" id="add_total_highest_trophy" class="form-control")
        //- p
        //- label(for="add_trophy_reward_step") Add Trophy Reward Step
        //- input(type="text" name="add_trophy_reward_step" id="add_trophy_reward_step" class="form-control")

      p 
      button.btn.btn-primary(type="submit") Add
